{% extends "dashboard/base.html" %}

{% load static crispy_forms_tags  %}

{% block content %}
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Password Settings</h3>
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                {% if messages %}
                                <div class="alert alert-pro alert-primary">
                                    <div class="alert-text">
                                        <h6>Notification</h6>
                                        {% for message in messages %}
                                        <p>{{ message }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="nk-block nk-block-lg">
                                    <div class="card">
                                       
                                        <div class="card-inner">
                                            <div class="tab-content">
                                               
                                                <div class="" >
                                                    <div class="nk-block-head">
                                                        <div class="nk-block-head-content">
                                                            <h4 class="title nk-block-title">Change Password</h4>
                                                            <p>This below form enables you to change your spabs admin account password</p>
                                                        </div>
                                                    </div>
                                                    <form action="" method="post">
                                                        {% csrf_token %}
                                                    <div class="row g-gs">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                               {{ form | crispy }}
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="row g-3">
                                                        <div class="col-lg-7">
                                                            <div class="form-group mt-2">
                                                                <button type="submit" class="btn btn-lg btn-warning" data-bs-target="#modalAlert" data-bs-toggle="modal">Change Password</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!--card inner-->
                                    </div>
                                    <!--card-->
                                </div>
                                <!--nk-block-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
{% endblock %}