{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .details {
        border: 1px solid #000;
        padding: 10px;
        margin: 10px;
    }
    .print-button {
        margin-top: 10px;
    }
</style>
<div class="container-xxl py-5 bg-primary hero-header">
    <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
            <div class="col-12 text-center">
                <h1 class="text-white animated slideInDown">Enrollment Form</h1>
                <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Enrollment</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1>Transaction Cancelled</h1>
</div>
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="row g-4">
           
            <div id="detailsDiv" class="details">
                <h2>Transaction has been cancelled or not completed</h2>
                
            </div>
            
            
        </div>
    </div>
</div>
<!-- Service End -->


{% endblock content %}