{% extends "base.html" %}
{% load static humanize %}
{% block content %}


        <div class="container-xxl py-5 bg-primary hero-header">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5 py-5">
                    <div class="col-12 text-center">
                        <h1 class="text-white animated slideInDown">Our Job Portal</h1>
                        <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Enrollment</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="section-title text-secondary">Our Job Portal<span></span></p>
                <h1 class="mb-5">SGSL STAFFS ENROLLMENT ACROSS OGUN STATE IS IN PROGRESS</h1>
                <p class="mb-4">All Staffs enrolled for Daily Commission, Monthly Salaries/Wages shall benefit a Monthly Contributory Pension Scheme, Healthcare, NSITF ECS and Life Insurance Policy.
                </p>
                <p>SGSL staffs enrollment into SGSL Outlets, Department and Offices at the State, Zonal and Local Govt levels are available through the enrollment link below:

                </p>
                
                <a href="" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Enroll Now</a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="{% static 'spabs/img/worker.png' %}">
            </div>
        </div>
    </div>
</div>
<!-- About End -->       
 <!-- Service Start -->
 <div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
               <div class="row g-4">
                {% for j in jobs_qs %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-users fa-2x"></i>
                    </div>
                    <h5 class="mb-3">{{ j.job_title }}</h5>
                    <p class="m-0">Enrollment Fee: ₦{{ j.fee | intcomma }}<br>
                         {{ j.description | safe}}
                       </p>
                    <a class="btn btn-square" href="{% url 'enrollment_form' %}"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            {% endfor %}
            
            <p><b>NB:</b><br> All Staffs enrolled for Job in all categories as stated above whether on commission or monthly salaries or wages, shall benefits accrued monthly commissions and bonus payments to the tune of #70,000 new minimum wage and well above in allowances and bonus including monthly pension benefits plan, healthcare and life insurance policy plan.</p>
            <div class="text-center"><a href="{% url 'enrollment_form' %}" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Enroll Now</a></div>
        </div>
        <br><br>
        <h6>Kindly note every categories minimum accrued monthly earnings in commissions, salaries and wages as follows;
        </h6>
        <table class="blueTable">
            <thead>
            <tr>
            <th>CATEGORIES </th>
            <th>SPABS JOB ROLE</th>
            <th>DETAILS</th>
            <th>SALARY</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
            <td colspan="3">
             </td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
            <td>Category A </td>
            <td>SPABS Tax Foot Soldiers (TFS)</td>
            <td>Are Daily Commission Staffs on weekly Duty Shifts,&nbsp; monthly&nbsp;earnings including weekly bonus</td>
            <td>Above ₦70,000 <br /><br /></td>
            </tr>
            <tr>
            <td>Category A</td>
            <td>SPABS Social Workers (SW)</td>
            <td>Are Daily Commission Staffs on daily permanent duty,&nbsp; monthly earnings including weekly bonus.</td>
            <td>Above ₦70,000<br /><br /></td>
            </tr>
            <tr>
            <td>Category B</td>
            <td>SPABS TFS Marshals</td>
            <td>Are Daily Commission Staffs on permanent TFS supervision,&nbsp; monthly earnings&nbsp;excluding weekly bonus</td>
            <td>Above ₦199,800<br /><br /></td>
            </tr>
            <tr>
            <td>Category B</td>
            <td>SPABS Social Workers Manager</td>
            <td>Are Daily Commission Staffs on permanent SW supervision, monthly earnings&nbsp; excluding weekly bonus.</td>
            <td>Above ₦180,000</td>
            </tr>
            <tr>
            <td>Category C</td>
            <td>SPABS Administrative Staffs</td>
            <td>Are Admin Staffs working Mondays to Saturdays 8 am - 5 pm, on monthly salaries and wages, monthly earnings depends on grade levels, excluding weekly bonus</td>
            <td>₦120,000 - ₦250,000&nbsp;</td>
            </tr>
            <tr>
            <td>Category D</td>
            <td>SPABS Non-Administrative Staffs</td>
            <td>Are non-admin Staffs such as receptionist, office assistant, cleaners and security guard, working Mondays to Saturdays 8 am - 5 pm, on monthly salaries and wages, monthly earnings excluding weekly bonus</td>
            <td>Above ₦80,000</td>
            </tr>
            </tbody>
            </table>
    </div>
</div>
<!-- Service End -->

       

      
{% endblock content %}